@page "/"
@inject KeyboardService KeyboardService

<h1>Nullbits Sync</h1>

Find available keyboards:

<button class="btn btn-primary" @onclick="LoadKeyboardsAsync">Load Keyboards</button>

Available keyboards:

<div>
    <KeyboardList List="Keyboards"></KeyboardList>
</div>



@code {

    public List<KeyboardItem> Keyboards { get; set; } = new List<KeyboardItem>();

    async Task LoadKeyboardsAsync()
    {
        var keyboardModels = await KeyboardUtilities.GetAvailableKeyboardsAsync();

        foreach(var keyboardModel in keyboardModels)
        {
            Keyboards.Add(new KeyboardItem()
            {
                Title = keyboardModel.Name,
                KeyboardModel = keyboardModel,
                Icon = "/icons/keyboard.svg",
                ChoiceAction = SelectKeyboard
            });
        }
    }

    private void SelectKeyboard(KeyboardItem item)
    {
        KeyboardService.CurrentKeyboard = item.KeyboardModel;
    }
}